.table th, table td {
    padding: 2px !important;
}

.center {
    text-align: center;
}

.tblClassificacao thead th{
    padding-left: 5px;
    padding-right: 5px;
}

.tblClassificacao {
    font-size: 12px;
}

.aJogosTime {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.imgResult {
    width: 15px;
    height: 15px;
    margin: 2px;
}